@import 'node_modules/bootstrap/scss/bootstrap.scss';

* {
    font-family: 'Rubik', sans-serif;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}
