#shop {
    padding: 35px 40px;
    margin: 30px 30px;

    #create {
        margin: 0 0 25px;

        a {
            color: white;
        }
    }

    .cloth-card {
        margin-bottom: 20px;
    }
}
